@using JULONG.TRAIN.Model;
@using JULONG.TRAIN.LIB;
@{
	Layout = null;
	ViewBag.Title = "考试出错";
    //Layout = "考试出错";
}
<div class="page">

	<header class="bar bar-nav nav-nice">
		<div class="pull-left">
			<a class="icon icon-left back" href="/">
			</a>
			<a class="back" href="/">
				@ViewBag.Name
			</a>
		</div>
		<div class="pull-right">
			<div>

			</div>
			<span class="right-title">参考出错</span>
		</div>
	</header>

	<div class="content test-detail">
		<div class="content-block-title">参考出错</div>
		<div class="content-block text-center">
			<div class="content-title">
				@ViewBag.error
			</div>
			<div class="expand">
				@ViewBag.exp
			</div>
		</div>
		
	</div>
</div>