body {
	font-family:"微软雅黑"
	;font-size:14px;
}

.template{
	display:none
}
.fa-1x{
	font-size:150%;
}
.fa{
	color:#b4b4b4;
}
.fa:hover{
	/*color:#444;*/
}
button>.fa,a>.fa{
	color:inherit;
}
.avatar{
	width:32px;height:32px;
}
.imgUpload{
    display:inline-block;width:32px;height:32px;margin:4px; background-position:center center; background-size:cover;background-repeat:no-repeat;border:1px solid #999;background-color:#fff;
}
.imgUpload input{
    display:block;width:100%;height:100%;opacity:0
}

/*FRAME plus*/
.profile-stat-title{
	font-size:18px!important;
}
.profile-stat-text{
	font-size:16px !important;
	font-weight:100 !important;
}
.my-input-group-checkbox{
	width:100%;height:100%;opacity:0;position:absolute;top:0;left:0
}
.note-editor, .note-toolbar.btn-toolbar {
	border: 1px solid #e5e5e5 !important;
}
