<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<connectionStrings>
		<add name="TRAINDBStr" connectionString="Max Pool Size=1040; data source=172.16.8.90;&#xD;&#xA;    initial catalog=TRAIN;multipleactiveresultsets=True;&#xD;&#xA;    user id=train;password=train8291!;application name=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="vs:EnableBrowserLink" value="false" />
		<!--account service-->
		<!--员工接口访问凭证-->
		<add key="AS_Url" value="http://test.julong.cc" />
		<add key="AS_AppId" value="bbbebc" />
		<add key="AS_SecretKey" value="bf2af72082a8473c9409a1d6f9bce9c0" />
		<!--员工接口地址 不带最后的"/"-->
		<!--
		<add key="AS_Url" value="http://test.julong.cc/worker"/>
		-->
		<!--weixin-->
		<add key="WX_Token" value="8291" />
		<add key="WX_EncodingAESKey" value="Mjd3l5rQMuFLqnksIz7GSaZM3OiEcU5lp350HSLQ9mA" />
		<add key="WX_AppId" value="wx89e8137ca5a99092" />
		<add key="WX_AppSecret" value="8c41a7fdcd061218c1eb1875a807f391" />
		<add key="WX_OAuthUrl" value="http://px.julong.cc/wx/callback?url=" />
		<add key="WX_AttendUrl" value="http://mp.weixin.qq.com/s?__biz=MzA3MzMwOTc0OQ==&amp;mid=418648330&amp;idx=1&amp;sn=ae0aebc7a32aa69ecae3068f49483a70#rd" />
		<!--debug-->
		<add key="WX_Debug_isPC" value="true" />
		<add key="WX_Debug_openid" value="oNfwut66okqCMyZBdp4vsOQadERQ" />
  </appSettings>
  <system.web>
		
		<sessionState mode="InProc" timeout="360" />
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
<customErrors mode="Off" />
  </system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<staticContent>
			<remove fileExtension=".json" />
			<remove fileExtension=".woff" />
			<remove fileExtension=".svg" />
			
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />

		</staticContent>
	</system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>